*{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 0px;
    margin: 0 auto;
    color: #eaeaea;
    width: 100%;
    height: 100%;
}
.header_app{
    height: 133px;
    margin: 0 auto;
    text-align: center;
}

.header_img{
    width: auto;
    height: 60px;
}

.body_app{
    height: 100%;
}


.footer_app{
    margin: 0 auto;
    text-align: center;
}

.butt{
    padding-top: 25px;
    padding-bottom: 25px;
    color: #292929;
    text-align: center;
    font-size: 54px;
    margin: 0 auto;
}

.button{
    width: 325px;
    height: auto;
    background-color: #eaeaea;
    margin: 0 auto;
    border: black;
}

.button:active{
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.footer_app{
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: auto;
}


img{
    width: 100%;
}

.qr{
    height: 64px;
    width: 138px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.table{
    height: 64px;
    width: 138px;
    position: absolute;
    bottom: 0px;
    left: 138px;
    }

.prof{
    height: 64px;
    width: 138px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    }

h1{
    color: black;
    margin-left: 10px;
}

h2{
    border-left: 2px solid black;
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
}

h3{
    color: black;
    margin-left: 15px;
    padding-bottom: 15px;
    font-size: 32px;
}


.schedule_item{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 20px;
}

.menu_item:active{
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

label{
    color: black;
    width: auto;
}

.header_1{
    padding-bottom: 60px;
}

.form_auth_block{
    width: 80%;
    margin: 0 auto;
    background-size: cover;
    border-radius: 4px;
    border: 1px solid #292929;
    margin-top: 10%;
}
.form_auth_block_content{
    padding: 5px 0px 5px 0px;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #ffffff;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 45px;
  border-radius: 10px;  
  border:none;
  outline: none;
}
input:focus {
  color: #000000;
  border-radius: 10px;
  border: 2px solid #292929;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    height: 35px;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width:411px){
    .qr{
        max-width: 137px;
    }

    .table{
        max-width: 137px;
        left: 137px;
    }

    .prof{
        max-width: 137px;
    }

    .header_img{
        width: auto;
        height: 59.5px;
    }

    .form_auth_block{
        margin-top: 15%;
    }

    .header_1{
        padding-bottom: 90px;
    }
}

@media only screen and (max-width:375px){
    body .qr{
        max-width: 125px;
    }

    body .table{
        max-width: 125px;
        left: 125px;
    }

    body .prof{
        max-width: 125px;
    }

    .button{
        width: 293px;
    }

    .butt{
        font-size: 50px;
    }

    .header_img{
        width: auto;
        height: 54.3px;
    }

    h3{
        font-size: 28px;
    }
    .form_auth_block{
        margin-top: 20%;
    }

    .header_1{
        padding-bottom: 100px;
    }
}

@media only screen and (max-width:360px){
    body .qr{
        max-width: 120px;
    }

    body .table{
        max-width: 120px;
        left: 120px;
    }

    body .prof{
        max-width: 120px;
    }
    .button{
        width: 282px;
    }

    .butt{
        font-size: 45px;
    }

    .header_img{
        width: auto;
        height: 52.17px;
    }
    
    h3{
        font-size: 26px;
    }

    h1{
        font-size: 28px;
    }

    h2{
        font-size: 18px;
    }

    .form_auth_block{
        margin-top: 15%;
    }
}

@media only screen and (max-width:320px){
    body .qr{
        max-width: 106.66px;
    }

    body .table{
        max-width: 106.66px;
        left: 106.66px;
    }

    body .prof{
        max-width: 106.66px;
    }
    .button{
        width: 251px;
    }

    .butt{
        font-size: 40px;
    }

    .header_img{
        width: auto;
        height: 46.37px;
    }

    h3{
        font-size: 24px;
        padding-bottom: 10px;
    }

    h1{
        font-size: 24px;
    }

    h2{
        font-size: 16px;
        padding-bottom: 3px;
    }

    .form_auth_block{
        margin-top: 5%;
    }

    .header_1{
        padding-bottom: 57px;
    }
}